*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
projects/SleepTracker/.gradle/2.6/taskArtifacts/cache.properties.lock
projects/SleepTracker/.gradle/2.6/taskArtifacts/fileHashes.bin
projects/SleepTracker/.gradle/2.6/taskArtifacts/fileSnapshots.bin
projects/SleepTracker/.gradle/2.6/taskArtifacts/taskArtifacts.bin
projects/SleepTracker/sas-ejbservice/.classpath
projects/SleepTracker/sas-ejbservice/.classpath
projects/SleepTracker/sas-ejbservice/.classpath
projects/SleepTracker/sas-ejbservice/.classpath
projects/SleepTracker/sas-ejbservice/.classpath
projects/SleepTracker/sas-persistence/.classpath
projects/SleepTracker/sas-weblayer/.classpath
