*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
projects/SleepTracker/.gradle/2.6/taskArtifacts/cache.properties.lock
projects/SleepTracker/.gradle/2.6/taskArtifacts/fileHashes.bin
projects/SleepTracker/.gradle/2.6/taskArtifacts/fileSnapshots.bin
projects/SleepTracker/.gradle/2.6/taskArtifacts/taskArtifacts.bin
projects/SleepTracker/sas-ejbservice/.classpath
projects/SleepTracker/sas-ejbservice/.classpath
projects/SleepTracker/sas-ejbservice/.classpath
projects/SleepTracker/sas-ejbservice/.classpath
projects/SleepTracker/sas-ejbservice/.classpath
projects/SleepTracker/sas-persistence/.classpath
projects/SleepTracker/sas-weblayer/.classpath
projects/Ourapplication/condominium/.project
projects/Ourapplication/condominium/.settings/gradle.prefs
projects/Ourapplication/condominium/cm-ejbservice/.classpath
projects/Ourapplication/condominium/cm-ejbservice/.settings/gradle.prefs
projects/Ourapplication/condominium/cm-ejbservice/.settings/org.eclipse.jdt.core.prefs
projects/Ourapplication/condominium/cm-weblayer/.classpath
projects/Ourapplication/condominium/cm-weblayer/.settings/gradle.prefs
projects/Ourapplication/condominium/cm-weblayer/.settings/org.eclipse.jdt.core.prefs
projects/Ourapplication/condominium/cm-persistence/.classpath
projects/Ourapplication/condominium/cm-persistence/.project
projects/Ourapplication/condominium/cm-persistence/.settings/gradle.prefs
projects/Ourapplication/condominium/cm-persistence/.settings/org.eclipse.jdt.core.prefs
projects/Javacsinta/.gradle/2.6/taskArtifacts/cache.properties.lock
projects/Javacsinta/.gradle/2.6/taskArtifacts/fileHashes.bin
projects/Javacsinta/.gradle/2.6/taskArtifacts/fileSnapshots.bin
projects/Javacsinta/.gradle/2.6/taskArtifacts/taskArtifacts.bin
projects/Javacsinta/jcs-ejbservice/.classpath
projects/Javacsinta/jcs-persistence/.classpath
projects/Javacsinta/jcs-weblayer/.classpath
projects/Javacsinta/jcs-webservice/.classpath
projects/Javacsinta/.project
projects/Javacsinta/.settings/gradle.prefs
projects/Javacsinta/jcs-ejbservice/.classpath
projects/Javacsinta/jcs-ejbservice/.settings/gradle.prefs
projects/Javacsinta/jcs-ejbservice/.settings/org.eclipse.jdt.core.prefs
projects/Javacsinta/jcs-weblayer/.classpath
projects/Javacsinta/jcs-weblayer/.settings/gradle.prefs
projects/Javacsinta/jcs-weblayer/.settings/org.eclipse.jdt.core.prefs
projects/Javacsinta/jcs-persistence/.classpath
projects/Javacsinta/jcs-persistence/.project
projects/Javacsinta/jcs-persistence/.settings/gradle.prefs
projects/Javacsinta/jcs-persistence/.settings/org.eclipse.jdt.core.prefs
projects/Ourapplication/condominium/bugshot.bmp
