body {
	font-size: 100%;
	font-family: Arial, Verdana, sans-serif;
	background-color: #fff18a;
	margin: 5%;
	padding: 5%;
}

.header {
	padding-left: 10%;
	padding-right: 10%;
}

.nav {
	padding-left: 10%;
	padding-right: 10%;
}

.article {
	padding-left: 10%;
	padding-right: 10%;
	padding-top:2%;
}

.pancakesstable {
	color: black;
	font-weight: normal;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	border: 0px;
	border-spacing: 0px;
	width: 60%;
}

.pancakesstable thead {
	text-align: center;
	font-weight: bold;
}

.pancakesstable td {
	border: 1px solid;
	padding: 2px;
}

label {
	font-weight: bold;
}